/* RTL (Right-to-Left) Support for Arabic */

/* Flexbox reversals */
html[dir='rtl'] .flex-row-reverse {
  flex-direction: row;
}

html[dir='rtl'] .flex-row {
  flex-direction: row-reverse;
}

/* Search icon positioning */
html[dir='rtl'] .search-input-container .search-icon {
  right: auto;
  left: 12px;
}

html[dir='rtl'] .search-input-container input {
  padding-right: 40px;
  padding-left: 12px;
}

/* Margin and padding flipping */
html[dir='rtl'] .ml-4 {
  margin-left: 0;
  margin-right: 1rem;
}

html[dir='rtl'] .mr-4 {
  margin-right: 0;
  margin-left: 1rem;
}

html[dir='rtl'] .ml-2 {
  margin-left: 0;
  margin-right: 0.5rem;
}

html[dir='rtl'] .mr-2 {
  margin-right: 0;
  margin-left: 0.5rem;
}

/* Dropdown positioning */
html[dir='rtl'] .dropdown-menu {
  right: auto;
  left: 0;
}

html[dir='rtl'] .dropdown-right {
  right: auto;
  left: 0;
}

/* Chevron rotation for RTL */
html[dir='rtl'] .chevron-right {
  transform: scaleX(-1);
}

html[dir='rtl'] .chevron-left {
  transform: scaleX(-1);
}

/* Text alignment */
html[dir='rtl'] .text-left {
  text-align: right;
}

html[dir='rtl'] .text-right {
  text-align: left;
}

/* Sidebar positioning */
html[dir='rtl'] .sidebar {
  left: auto;
  right: 0;
}

/* Border positioning */
html[dir='rtl'] .border-l {
  border-left: none;
  border-right: 1px solid;
  border-right-color: inherit;
}

html[dir='rtl'] .border-r {
  border-right: none;
  border-left: 1px solid;
  border-left-color: inherit;
}

/* Padding adjustments */
html[dir='rtl'] .pl-4 {
  padding-left: 0;
  padding-right: 1rem;
}

html[dir='rtl'] .pr-4 {
  padding-right: 0;
  padding-left: 1rem;
}

html[dir='rtl'] .pl-2 {
  padding-left: 0;
  padding-right: 0.5rem;
}

html[dir='rtl'] .pr-2 {
  padding-right: 0;
  padding-left: 0.5rem;
}

/* Absolute positioning */
html[dir='rtl'] .left-0 {
  left: auto;
  right: 0;
}

html[dir='rtl'] .right-0 {
  right: auto;
  left: 0;
}

html[dir='rtl'] .left-4 {
  left: auto;
  right: 1rem;
}

html[dir='rtl'] .right-4 {
  right: auto;
  left: 1rem;
}

/* Grid and flex adjustments */
html[dir='rtl'] .justify-end {
  justify-content: flex-start;
}

html[dir='rtl'] .justify-start {
  justify-content: flex-end;
}

/* Transform origin */
html[dir='rtl'] .origin-right {
  transform-origin: left;
}

html[dir='rtl'] .origin-left {
  transform-origin: right;
}
